body{
  background-color: #EEEEEE;
  font-family: fantasy;
  text-align: center;
}

h1 {
  color: #679CCE;
  font-size: 50px;
  font-family: fantasy;
}

a {
  text-decoration: none;
  color: #C70039;
  font-family: fantasy;
}

ul {
  text-align: center;
}
